<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Room</title>
    <script src="/js/login.js" defer></script>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <nav>
      <h1>Chat Room <span class="nav-location">&nbsp;- Login</span></h1>
    </nav>
    <div class="container">
      <div class="left">
        <canvas id="left-animate"></canvas>
      </div>
      <div class="right">
        <div class="position">
          <form method="post" action="javascript:void(0)" id="form">
            <h1 class="title">Chat Room</h1>
            <input type="text" name="username" placeholder="Username" id="username" class="input spaced" required />
            <input type="password" name="password" placeholder="Enter password" id="password" class="input spaced" required />
            <div style="display:flex;justify-content:center;align-items:center;flex-direction:row;">
              <input type="checkbox" name="keep_logged" id="keep_logged">
              <p style="display:inline;" class="logged">&nbsp;Keep me logged in</p>
            </div>
            <div class="flex-spacer"></div>
            <input type="submit" value="Login" class="btn" />
            <div class="flex-spacer"></div>
            <p>Don't have an account? <a href="/signup">Signup</a></p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
